spring:
  application:
    name: events-planner


  threads:
    virtual:
      enabled: true

  datasource:
    url: jdbc:postgresql://localhost:5432/event_planner
    username: myuser # for local testing only
    password: secret # for local testing only

  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    baseline-on-migrate: true

  docker:
    compose:
      lifecycle-management: start_only

management:
  endpoints:
    web:
      exposure:
        include: "health,info,metrics,mappings,loggers"
  endpoint:
    health:
      show-details: when_authorized # Shows DB status only to authorized users
      probes:
        enabled: true
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true

logging:
  level:
    root: INFO
    com.example.events_planner: DEBUG
    org.springframework.web: INFO
    org.flywaydb: DEBUG
